#webpage2
{
height:300%;
width:100%;
background-color:black;
}

#left
{
height:100%;
width: 11.5%;

background-image: url("navBackground2.png");
background-size: contain;
background-repeat: no-repeat;
border-right: groove white 0.5px;
background-position: bottom;
float: left;
}

#middle2
{
height:100%;
width:88%;
background-image:url("pageBackground.jpg");
background-position: right;
float: right;
}

#middle2 #middle3
{
height: 90%;
width: 90%;
border-radius: 5%;

background-image: url("bloodBackground.png");
background-size: cover;
background-position: center;
margin-left: 5%;
margin-top: 3%;
opacity: 0.8;
float: inherent;	
}

#middle2 #middle3 #middle3Header 
{
width:95%;
height: 3%;
background-color: #999999;
text-align: left;
padding-left: 5%;
border-bottom: solid black 2px;
text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
color: yellow;
font-family: "Impact";
font-size: 28px;
}

#middle2 #middle3 #middle3Header:hover
{
font-size: 29px;
}

#nav1
{
height: 3%;
width: 90%;
margin-top:5%;
margin-left: 4%;
border-radius: 10%;
border: solid black 2px;
background-image: url("homeIcon2.jpg");
background-position: center;
background-size:cover;
opacity: 0.8;
text-align: center;
display: inline-block;
}

#nav1:hover
{
opacity:0.7;
}

#nav1:hover #menu 
{
display: block;
}

#menu 
{
width:94%;
display: none;
margin-right: 3px;
margin-left:3px;
}

#menu a
{
display:block;
}

button
{
background-color: #990000;
font-family: "Impact";
font-size: 20px;
text-shadow: -1px 0 yellow, 0 3px yellow, 3px 0 yellow, 0 -1px yellow;
border-radius: 10%;

width:100%;
height: 50%;
}

button:hover
{
opacity: 0.8;

}



a:link
{
color:#00BFFF;
}
a:visited
{
color:#333333;
}
a:hover
{
color:#BBBBBB;
}

#aboutTable
{
height: 80%;
width: 80%;

margin-top: 5%;
margin-left: 10%;
}

td
{
text-align:center;
height: 20%;
width: 33%;
margin-left: 5%;
color: white;

}

img
{
height:45%;
width:95%;
border-radius: 5%;

}

img:hover
{
height:50%;
width:100%;
box-shadow: 0 5px 10px 0 #550000, 0 3px 10px 0 #550000;
}

h3
{
text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
color: orange;
font-family: "Impact";
font-size:25px;
cursor:pointer;
}

h3:hover
{
font-size: 27px;
cursor:pointer;
}

h3+p
{
display: none;
font-family: "Comic Sans MS";
}

#navTable
{
margin-top:3%;
margin-left: 15%;
height: 5%;
width: 70%;
border-bottom: groove white 2px;
}
.navTableC
{
height:100%;
width:16%;


}
